nav {
  transition: all 200ms ease-in-out;
}
nav,
.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  place-content: flex-start;
  align-content: center;
  padding-inline: 4em;
  height: 100vh;
}
.background {
  background: var(--bg-primary);
}

/* UL Styles */
.nav__links {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4em;
  font-family: var(--ff-accent);
  letter-spacing: 8px;
  height: 100%;
  width: 100%;
  color: var(--clr-secondary);
  z-index: 1;
}
body:not(:has(nav.active)) main {
  position: relative;
  z-index: 1000;
}

.nav__links li a {
  position: relative;
  display: inline-block;
  font-size: 5rem;
  font-weight: bold;
  color: var(--clr-primary);
  overflow: hidden;

  background: linear-gradient(to right, var(--clr-accent), var(--clr-accent) 50%, var(--clr-secondary) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;

  transition: background-position 1s ease;
}

.nav__links li a:hover {
  background-position: 0 100%;
}
